$white: #ffffff;

$main-text-color: #5A1094;
$secondary-text-color: #C90EA5;
$grey-text-color: #979797;

$body-bgColor: #E6E9F0;
$purple-borderColor: #F5B8DF;

$pink-bgColor: #FF1876;
$summary-bgColor: #F1F3F6;
